<div class="rmtj">
  <div class="rmtj-dhl">
    <div class="annulus"></div>
    <a href="javascript:void(0)">热门推荐</a>
    <span class="line"></span>
    <a href="javascript:void(0)">华语</a>
    <span class="line">|</span>
    <a href="javascript:void(0)">流行</a>
    <span class="line">|</span>
    <a href="javascript:void(0)">摇滚</a>
    <span class="line">|</span>
    <a href="javascript:void(0)">民谣</a>
    <span class="line">|</span>
    <a href="javascript:void(0)">电子</a>
    <span class="more">
      <a href="javascript:void(0)">更多>></a>
    </span>
  </div>
  <div class="rmtj-zht">
    <div class="item" *ngFor="let item of [0,1,2,3,4,5,6,7]">
      <div class="item-detail">
        <a href="javascript:void(0)">
          <img src="../../../../assets/images/狗子.jpg" alt="">
        </a>
        <div class="item-icon">
          <span></span>
          <span>3344</span>
          <a href="javascript:void(0)"></a>
        </div>
      </div>
      <div class="item-desc">
        <a href="javascript:void(0)">喜欢就大声说出来啊，又不用交税</a>
      </div>
    </div>
  </div>
</div>