.middle-top {
  width: 100%;
  height: 336px;
  background: url("../../../../assets/images/1-1.jpg") repeat-x;
}

.middle-center {
  width: 68%;
  height: 100%;
  margin: 0 auto;
}

.middle-center-left {
  width: 80%;
  height: 100%;
  float: left;
}

.middle-right {
  width: 20%;
  height: 100%;
  float: right;
}
