<div class="middle-contain">
  <div class="contain-center">
    <div class="contain-center-left">
      <div class="center-left-top">
        <!-- 热门推荐 -->
        <div class="rmtj">

          <div class="rmtj-dhl">
            <div class="annulus"></div>
            <a href="javascript:void(0)">热门推荐</a>
            <ul class="dhl-item">
              <li class="item-list" *ngFor="let item of ['华语','流行','摇滚','民谣','电子'];let i=index">
                <span class="line" [ngStyle]="{'opacity': i==0?'0':'1' }">|</span>
                <a class="list-a" href="javascript:void(0)">{{item}}</a>
              </li>
            </ul>
            <span class="more">
              <a href="javascript:void(0)">更多>></a>
            </span>
          </div>

          <app-playlist-item></app-playlist-item>
        </div>
        <!-- <app-common></app-common> -->
        <!-- 新碟上架 -->
        <div class="xdsj">
          <div class="xdsj-dhl">
            <div class="annulus"></div>
            <a href="javascript:void(0)">新碟上架</a>
            <span class="more">
              <a href="javascript:void(0)">更多>></a>
            </span>
          </div>
          <div class="xdsj-zht">
            <div class="xdsj-content">
              <ul *ngFor="let item of XDSJDATA let i=index" class="scroll-item" [ngClass]="scroll(i)">
                <li *ngFor="let content of item">
                  <div class="content-img">
                    <a href="javascript:void(0)">
                      <img src="{{content.imgSrc}}" width="100" alt="">
                    </a>
                  </div>
                  <p>{{content.desc}}</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- 榜单 -->
        <div class="xdsj">
          <div class="xdsj-dhl">
            <div class="annulus"></div>
            <a href="javascript:void(0)">榜单</a>
            <span class="more">
              <a href="javascript:void(0)">更多>></a>
            </span>
          </div>
          <div class="xdsj-zht"></div>
        </div>

      </div>
    </div>

    <div class="contain-center-right">
      <div class="login-btn">
        <p class="note">登录网易云音乐，可以享受无限收藏的乐趣，并且无限同步到手机</p>
        <a href="javascript:void(0)">用户登录</a>
      </div>
      <div class="rzgs">入驻歌手</div>
      <div class="rmzb">热门主播</div>
    </div>
  </div>
</div>