<div class="top">
  <div class="top-center">
    <a href="#" class="logo"></a>
    <ul class="top-list">
      <li>
        <a [routerLink]="['/discover']" routerLinkActive="click">发现音乐</a>
      </li>
      <li>
        <a [routerLink]="['/my-music']" routerLinkActive="click">我的音乐</a>
      </li>
      <li>
        <a [routerLink]="['/friend']" routerLinkActive="click">朋友</a>
      </li>
      <li>
        <a [routerLink]="['/shop']" routerLinkActive="click">商城</a>
      </li>
      <li>
        <a [routerLink]="['/creator']" routerLinkActive="click">音乐人</a>
      </li>
      <li>
        <a [routerLink]="['/download']" routerLinkActive="click">下载客户端</a>
        <span class="top-list-tip"></span>
      </li>
    </ul>
    <div class="login">
      <span>登陆</span>
      <span class="login-icon"></span>
    </div>
    <div class="creator">
      <a href="#">创作者中心</a>
    </div>
    <div class="search">
      <span class="search-icon"></span>
      <input type="text" placeholder="搜索" class="search-input">
    </div>
  </div>
</div>