/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    cursor: pointer;
    text-decoration: none;
    color: #000;
}