<div class="playlist">
  <div class="item" *ngFor="let item of songList.result">
    <div class="item-detail">
      <a href="javascript:void(0)" id="item.id">
        <img [src]="item.picUrl" alt="" width="100%">
      </a>
      <div class="item-icon">
        <span></span>
        <span>{{item.playCount | countsFormate}}</span>
        <a href="javascript:void(0)"></a>
      </div>
    </div>
    <div class="item-desc">
      <a href="javascript:void(0)">{{item.name}}</a>
    </div>
  </div>
</div>